/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	background: #FFFEF8;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/

#main-container{
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}


header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

li a{
	text-decoration: none;
	color: #3D3D3D;
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

figure .modification{
	display: flex;
	gap: 8px;
	margin-left: 57px;
	padding-top: 10px;
}

.modification button{
	font-family: Work sans;
	font-size: 14px;
	border: none;
	background-color: #FFFEF8;
	cursor: pointer;
}

.modification i, .modification button{
	display: none;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
}

#portfolio .modification{
	display: flex;
	align-items: center;
	gap: 10px;
}

#portfolio .title-container{
	display: flex;
    align-items: center; 
    justify-content: center;
	gap: 30px;
}


/* Ajouts des boutons filtre*/

button {
	font-family: Syne, sans-serif;
}

.filter-buttons {
	display: flex;
	justify-content: center;
	margin: 30px 0px;
}

.filter {
	background-color: white;
	color: #1D6154;
	padding: 10px 20px;
	margin: 0 5px;
	border: 1px solid #1D6154;
	border-radius: 60px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.filter:hover {
	background-color: #B1663C;
}

.filter.selected {
	background-color: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer {
	
	background-color: white;
	height: 60px;
	margin: 0;
    padding: 0;
    width: 100vw; 
    box-sizing: border-box; 
    position: relative; 
    left: 50%;
    right: 50%; 
    margin-left: -50vw; 
    margin-right: -50vw;
}

footer nav {
	display:flex;
	justify-content: flex-end;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}




/*Ajout de la page de connexion*/


#connection-container {
	display: none;
	justify-content: center;
	align-items: center;
	height: 69vh;
}


#login-container {
	max-width: 400px;
	width: 100%;
	padding: 20px;
	border: none;
	text-align: center;
}

#login-container h2 {
	margin-bottom: 50px;
}

.login-form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

input[type="submit"] {
	width: 179px;
	height: 36px;
	border-radius: 60px;
	background: #1D6154;
	border: none;
	color: white;
	cursor: pointer;
	transition: 0.3s
}

input[type="submit"]:hover {
	background-color: #B1663C;
}

.form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.form-group input {
	width: 379px;
	height: 51px;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	border: none;
	padding-left: 10px;
	font-size: 16px;
}

.form-group label {
	display: block;
	text-align: left;
	margin-bottom: 5px;
}

#forgot-password  {
	font-size: 14px;
	color: #3D3D3D;
}

#login-error{
	color: red;
	display: none;
}


/*mode edition du site*/

#mode-edition{
	display: none;
	justify-content: center;
	align-items: center;
	height: 59px;
	background-color: black;
	gap: 15px;
}

#mode-edition p {
	color: white;
	font-family: Work Sans;
}

#mode-edition button{
	background-color: white;
	font-family: Work Sans;
	color: #1D6154;
	padding: 10px 20px;
	margin: 0 5px;
	border: 1px solid #1D6154;
	border-radius: 60px;
	cursor: pointer;
	transition: background-color 0.3s;
}

#mode-edition i {
	color: white;
}

/* Styles de base pour la modale */
.modal {
    display: none; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.7);
    z-index: 1000; 
    justify-content: center; 
    align-items: center; 
    
}

/* Styles pour le contenu de la modale */
.modal-content {
    width: 630px; 
    height: 731px;
    background-color: #fff; 
    position: relative; 
    border-radius: 15px; 
    padding: 20px; 
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5); 
}

.modal h2{
	font-family: Work Sans;
	display: flex;
	justify-content: center;
	padding-top: 30px;
}

/* Bouton de fermeture (X) */
.close-btn {
    position: absolute; 
    top: 30px; 
    right: 40px; 
    font-size: 2.5em; 
    cursor: pointer; 
}

.modal-content .modal-images {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
	margin: 45px 20px 20px 20px;
	padding-left: 50px;
}

.modal-content .image-separator {
    width: 420px;
    height: 1px;
    background-color: #b3b3b3;
    margin: 10px auto; 
}


.modal-content button {
    display: block; 
	font-size: 14px;
    margin: 50px auto;
	background-color: #1D6154;
	color: white;
	padding: 15px 70px;
	border: 1px solid #1D6154;
	border-radius: 60px;
	cursor: pointer;

}

.modal-content p {
	display: flex;
	font-size: 14px;
	font-family: syne;
	font-weight: 100;
	color: #D65353;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

/*deuxième modale*/


.secondemodale {
	display: none; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.7);
    z-index: 1000; 
    justify-content: center; 
    align-items: center; 
}

.seconde-modale-content {
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 630px;
    height: 670px;
    background-color: #fff; 
    position: relative; 
    border-radius: 15px; 
    padding: 20px; 
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
	position: relative;
}

.secondemodale h2{
	font-family: Work Sans;
	display: flex;
	justify-content: center;
	padding-top: 50px;
}

.return-arrow{
    position: absolute;
    top: 37px;
    left: 40px;
    font-size: 1.5em; 
    cursor: pointer; 
}

#image-upload-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  // Si vous voulez que les éléments soient en colonne
}


  
#selected-image {
    display: none;
}




.custom-img{
    width: 76px;
    height: 76px;
    color: #B9C5CC;
    font-size: 76px; 
}

#upload-image-form {
	width: 420px;
	height: 169px;
	border-radius: 3px;
	background-color: #E8F1F6;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 30px;
	margin-bottom: 50px;
  }

  #image-file{
	display: none;
  }
  label[for="image-file"] {
	width: 173px;
	height: 36px;
	display: flex; 
	align-items: center; 
	justify-content: center;
	font-size: 17px;
	margin: 10px;
	color: #306685;
	font-family: work sans;
	background-color: #CBD6DC;
	border: 1px solid #1D6154;
	border-radius: 50px;
	cursor: pointer;
}




#project-name, #category-select {
	box-sizing: border-box;
    width: 420px;
    height: 51px;
    margin-top: 20px;
    background: #FFF;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
    border: none;
    padding-left: 10px; 
    border-radius: 3px; 
}

.seconde-modale-content .image-separator {
    width: 420px;
    height: 1px;
    background-color: #b3b3b3;
    margin: 50px auto; 
}

.seconde-modale-content #valide-photo{
	position: absolute;  /* Fixe le bouton en position absolue dans le conteneur parent */
    bottom: 50px;        /* Le décale de 20px par rapport au bas du conteneur */
    left: 50%;           /* Centrage horizontal */
    transform: translateX(-50%);  /* Ajuste le centrage horizontal */
	display: block; 
	font-size: 14px;
    margin: 0px auto;
	background: #A7A7A7;
	color: white;
	padding: 15px 70px;
	border: 1px solid #1D6154;
	border-radius: 60px;
	cursor: pointer;
}


#error-message{
	
	color: red;
	display: none;
}